.section1, .section2, .section3, .section4{
    width: 100%;
    position: absolute;
}

.section1 h1{
    position: absolute;
    color: #37271A;
    font-size: 8vw;
    margin-top: 49vw;
    margin-left: 0.5vw;
    width: 20vw;
}

.section1 p{
    position: absolute;
    display: flex;
    color: #37271A;
    font-size: 1.5vw;
    margin-top: 27vw;
    margin-left: 0.5vw;
    width: 30vw;
    line-height: 1.7vw;
    font-family: "EvenMono";
}

.section1 img{
    position: absolute;
    margin-top: 17.5vw;
    margin-left: 54.2vw;
    width: 45.63vw;
    height: 38.61vw;
    background: #37271A;
}

.h21{
    position: absolute;
    color: #37271A;
    font-size: 2.5vw;
    line-height: 2vw;
    margin-top: 70vw;
    margin-left: 6vw;
    width: 30vw;
}

.h22{
    position: absolute;
    color: #37271A;
    font-size: 2.5vw;
    line-height: 2vw;
    margin-top: 70vw;
    margin-left: 67vw;
    width: 29vw;
}

.fimg{
    position: absolute;
    margin-top: 83.5vw;
    margin-left: 42.2vw;
    width: 16.39vw;
    height: 18.33vw;
    transition: transform 0.3s ease-in-out;
    filter: grayscale(70%);
}

.fimg:hover,.timg:hover {
    transform: scale(1.3) translate(0vw, -2vw);
    transition: 0.5s;
    filter: none ;
}

.simg:hover, .foimg:hover{
    transform: scale(1.3) translate(0vw, 1.5vw);
    transition: 0.5s;
    filter: none ;
}

.fiimg:hover{
    transform: scale(1.3) translate(0vw, -1.5vw);
    transition: 0.5s;
    filter: none ;
}

.section4{
    margin-top: 150vw;
}

.simg{
    position: absolute;
    margin-top: 102.7vw;
    margin-left: 25.5vw;
    width: 16.67vw;
    height: 13.68vw;
    transition: transform 0.3s ease-in-out;
    filter: grayscale(70%);
}

.timg{
    position: absolute;
    margin-top: 85.5vw;
    margin-left: 9vw;
    width: 16.67vw;
    height: 16.39vw;
    transition: transform 0.3s ease-in-out;
    filter: grayscale(70%);
}

.foimg{
    position: absolute;
    margin-top: 102.7vw;
    margin-left: 58.8vw;
    width: 11.39vw;
    height: 15.21vw;
    transition: transform 0.3s ease-in-out;
    filter: grayscale(70%);
}

.fiimg{
    position: absolute;
    margin-top: 90.1vw;
    margin-left: 70.2vw;
    width: 16.67vw;
    height: 11.74vw;
    transition: transform 0.3s ease-in-out;
    filter: grayscale(70%);
}

.section3 h2{
    position: absolute;
    color: #37271A;
    font-size: 2.5vw;
    line-height: 2vw;
    margin-top: 127vw;
    margin-left: 6vw;
    width: 37vw;
}

.minitex{
    position: absolute;
    display: flex;
    color: #37271A;
    font-size: 1.5vw;
    margin-top: 131vw;
    margin-left: 6vw;
    width: 34vw;
    line-height: 1.7vw;

}

.home1{
    position: absolute;
    margin-top: 142vw;
    margin-left: 35vw;
    width: 38.61vw;
    height: 36.32vw;
    overflow: hidden;
}

.small1{
    position: absolute;
    margin-top: 142vw;
    margin-left: 75vw;
    width: 14vw;
    line-height: 1.5vw;
}

.price1{
    position: absolute;
    margin-top: 146vw;
    margin-left: 75vw;
    width: 12vw;
    line-height: 1.5vw;
}

.home2{
    position: absolute;
    margin-top: 182vw;
    margin-left: 6vw;
    width: 40.9vw;
    height: 36.32vw;
    overflow: hidden;
}

.small2{
    position: absolute;
    margin-top: 182.1vw;
    margin-left: 48vw;
    width: 15vw;
    line-height: 1.5vw;
}

.price2{
    position: absolute;
    margin-top: 186vw;
    margin-left: 48vw;
    width: 12vw;
    line-height: 1.5vw;
}

.home3{
    position: absolute;
    margin-top: 222vw;
    margin-left: 45vw;
    width: 45.35vw;
    height: 43.61vw;
    overflow: hidden;
}

.small3{
    position: absolute;
    margin-top: 222.3vw;
    margin-left: 32vw;
    width: 12.5vw;
    line-height: 1.5vw;
}

.price3{
    position: absolute;
    margin-top: 226vw;
    margin-left: 32vw;
    width: 12vw;
    line-height: 1.5vw;
}

.home1 img, .home2 img, .home3 img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: transform 3s ease;
}

.homes1 p, .homes2 p, .homes3 p{
    font-size: 1.1vw;
}

.homes1 h3, .homes2 h3, .homes3 h3{
    font-size: 1.2vw;
}

.small11{
    position: absolute;
    margin-top: 142vw;
    margin-left: 75vw;
    width: 16vw;
    line-height: 1.5vw;
}

.price11{
    position: absolute;
    margin-top: 146vw;
    margin-left: 75vw;
    width: 9vw;
    line-height: 1.5vw;
}

.small22{
    position: absolute;
    margin-top: 182.1vw;
    margin-left: 48vw;
    width: 18vw;

    line-height: 1.5vw;
}

.price22{
    position: absolute;
    margin-top: 186vw;
    margin-left: 48vw;
    width: 12vw;
    line-height: 1.5vw;
}


.small33{
    position: absolute;
    margin-top: 222.3vw;
    margin-left: 28vw;
    width: 17vw;
    line-height: 1.5vw;
}

.price33{
    position: absolute;
    margin-top: 226vw;
    margin-left: 28vw;
    width: 12vw;
    line-height: 1.5vw;
}

.small111{
    position: absolute;
    margin-top: 142vw;
    margin-left: 75vw;
    width: 17vw;
    line-height: 1.5vw;
}

.price111{
    position: absolute;
    margin-top: 146vw;
    margin-left: 75vw;
    width: 12vw;
    line-height: 1.5vw;
}

.small222{
    position: absolute;
    margin-top: 182.1vw;
    margin-left: 48vw;
    width: 19vw;
    line-height: 1.5vw;
}

.price222{
    position: absolute;
    margin-top: 186vw;
    margin-left: 48vw;
    width: 14vw;
    line-height: 1.5vw;
}


.small333{
    position: absolute;
    margin-top: 222.3vw;
    margin-left: 32vw;
    width: 11.5vw;
    line-height: 1.5vw;
}

.price333{
    position: absolute;
    margin-top: 226vw;
    margin-left: 32vw;
    width: 12vw;
    line-height: 1.5vw;
}

.homes1, .homes2, .homes3{
    position: absolute;
    cursor: pointer;
    transition: 0.5s;
}

.homes1:hover, .homes3:hover{
    transform: translate(-7vw, 0vw);
    transition: 0.5s;
}

.homes2:hover{
    transform: translate(7vw, 0vw);
    transition: 0.5s;
}

.home1:hover img, .home2:hover img, .home3:hover img{
    transform: scale(1.2);
}
