.fp, .sp, .tp{
    position: absolute;
    width: 100%;
} 

.tp{
    margin-top: -15vw;
}

.fp h1{
    position: absolute;
    font-size: 8vw;
    margin-top: 48.7vw;
    margin-left: 0.5vw;
    width: 90vw;
    color: #37271A;
}

.fp p{
    position: absolute;
    color: #37271A;
    margin-top: 26.5vw;
    margin-left: 0.5vw;
    width: 35vw;
    font-size: 1.5vw;
    line-height: 1.7vw;
    font-family: "EvenMono";
}

.img50{
    position: absolute;
    width: 33.33vw;
    height: 33.13vw;
    margin-top: 7vw;
    margin-left: 39vw;
}

.img51{
    position: absolute;
    width: 18.19vw;
    height: 22.08vw;
    margin-top: 34.4vw;
    margin-left: 81.6vw;
}

.bathhouse{
    position: absolute;
    width: 16.67vw;
    height: 19.72vw;
    margin-top: 70vw;
    margin-left: 8vw;
}

.bathhouse, .fishing, .vegetables{
    transition: transform 0.3s ease;
    transform-origin: center;
}

.bathhouse:hover, .fishing:hover, .vegetables:hover{
    transform: scale(1.3) translate(-1vw, -3vw);
    transition: 0.5s;
}


.carta p{
    transition: transform 0.3s ease;
}

.carta:hover p{
    transform: translate(-4vw, -1vw);
    transition: 0.5s;
}


.bathhouse1{
    position: absolute;
    margin-top: 90vw;
    margin-left: 8vw;
    font-size: 1.5vw;
    color: #37271A;
}

.fishing{
    position: absolute;
    width: 27.22vw;
    height: 15.69vw;
    margin-top: 74vw;
    margin-left: 35vw;
}

.fishing1{
    position: absolute;
    margin-top: 90vw;
    margin-left: 35vw;
    font-size: 1.5vw;
    color: #37271A;
}

.vegetables{
    position: absolute;
    width: 18.19vw;
    height: 12.92vw;
    margin-top: 77vw;
    margin-left: 73vw;
}

.vegetables1{
    position: absolute;
    margin-top: 90vw;
    margin-left: 73vw;
    font-size: 1.5vw;
    color: #37271A;
    width: 13vw;
}

.bathhous, .fishin, .vegetable{
    transition: transform 0.5s ease;
    /* overflow: hidden; */
}

.bathhous:hover, .fishin:hover, .vegetable:hover{
    transform: scale(1.5);
    transform: translate(2vw, 4vw);
}